<!DOCTYPE html>
<html lang="en" class="uk-height-1-1">
<head>
    <% include ../partials/head_content %>

    <style type="text/css">
        nav {
            background: #000 !important;
        }
    </style>
</head>
<body>
<div class="uk-offcanvas-content">
    <% include ../partials/navbar %>
    <% include ../partials/admin_navbar.ejs %>

    <div class="uk-section uk-section-xsmall ">
        <button class="uk-button uk-button-default uk-button-small" type="button" uk-toggle="target: #offcanvas-nav-primary"><span class="uk-margin-small-right" uk-icon="menu"></span>Navigation</button>

        <div class="uk-container uk-container-center uk-margin-top uk-margin-large-bottom">

            <% if (message) { %>
            <div class="uk-alert-success" uk-alert>
                <a class="uk-alert-close" uk-close></a>
                <p><%= message %></p>
            </div>
            <%}%>
            <form action='/admin/findUser' method='post'>
                <fieldset class="uk-fieldset">

                    <legend class="uk-legend">Find a User</legend>

                    <div class="uk-margin">
                        <label class="uk-form-label" for="title">Name/Email</label>
                        <input class="uk-input" type="text" placeholder="fernando, user@domain.com" name="searchParam">

                    </div>

                    <div class="uk-margin">
                        <input class="uk-button uk-button-primary" type="submit" name="g" value="Find" id="g">
                    </div>
                </fieldset>
            </form>

        </div>

        <div class="uk-container uk-container-center">
            <% if (foundUsers) { %>
            <table class="uk-table uk-table-divider">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Surname</th>
                    <th>Username</th>
                    <th>Role</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>

                <% foundUsers.forEach(function (user) {%>
                <tr>
                    <td><%=user.name%></td>
                    <td><%=user.surname%></td>
                    <td><%=user.username%></td>
                    <td><%=user.role%></td>
                    <td><a href="/admin/viewUser/<%= user.id%>"><i class="fas fa-user"></i></a></td>
                </tr>
                <% }) %>
                </tbody>
            </table>
            <% } %>
        </div>
    </div>
</div>


</body>
</html>
