
<h3 class="uk-margin-small-bottom"><i class="fas fa-store-alt fa-fw"></i> <%= supplier.name %></h3>

<p class="uk-margin-small-top">
    <i class="fas fa-map-marked-alt fa-fw"></i> <%= supplier.address.houseAndStreet %>, <%= supplier.address.city %>, <%= supplier.address.postcode %>
    <br>
    <i class="fas fa-phone fa-fw"></i> <a href="tel:<%=supplier.telephoneNumber%>"><%=supplier.telephoneNumber%></a>
    <br>
    <i class="fas fa-clock fa-fw"></i> 5:30pm - 1:00am
</p>