<!DOCTYPE html>
<html lang="en" class="uk-height-1-1">
<head>
    <% include ../partials/head_content %>

    <script src="/javascripts/index.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/jquery.validate.min.js"></script>

</head>
<body>
<div class="uk-offcanvas-content">
    <% include ../partials/navbar %>

    <div class="uk-section uk-section-xsmall ">
        <div class="uk-container uk-container-center uk-margin-large-bottom">
            <% include ../partials/supplier_navbar %>

            <% if(user.supplierID){%>
            <div class="uk-card uk-card-default uk-card-small uk-card-rounded">
                <div class="uk-card-body">
               <h3 class="uk-margin-small-bottom"><i class="fas fa-store-alt fa-fw"></i> <%= supplier.name %></h3>
                <p class="uk-margin-small-top">
                    <i class="fas fa-map-marked-alt fa-fw"></i> <%= supplier.address.houseAndStreet %>, <%= supplier.address.city %>, <%= supplier.address.postcode %>
                    <br>
                    <i class="fas fa-phone fa-fw"></i> <%=supplier.telephoneNumber%>
                    <% if (supplier.stripe_account_id) { %>
                    <br>
                    Account ID: <%=supplier.stripe_account_id%>
                    <%} %>
                </p>
                </div>
            </div>
            <div class="uk-panel">
                <% if (!supplier.stripe_account_id) { %>
                    <div class="uk-alert-warning" uk-alert>
                        <a class="uk-alert-close" uk-close></a>
                        <h3>You're nearly ready</h3>
                        <p>It seems like we still need some more details in order to process payments, please click the following <a href="/supplier/create_stripe_account">link</a> and fill in the form</p>
                    </div>
                <%}%>
            </div>

            <h3 class="uk-heading-divider">Store Inventory
                <a class="uk-button uk-button-primary uk-button-small uk-align-right uk-margin-remove" href="/supplier/addProduct">Add Item</a>
            </h3>

            <div uk-filter=".js-filter">

                <div class="uk-clearfix uk-margin-small-top">
                    <!--Viewing alcoholic drinks-->
                    <button class="uk-button uk-button-default uk-button-small uk-align-right uk-margin-remove" type="button" id="index-filter-btn"><i class="fas fa-filter"></i> Filter</button>
                    <div uk-dropdown="mode: click, pos: bottom-right" id="filter-dropdown">
                        <ul class="uk-list uk-margin-remove-bottom" >
                            <li uk-filter-control=".tag-all"><a href="#">All</a></li>
                            <li uk-filter-control=".tag-pack"><a href="#">Packs</a></li>

                            <% types_of_alcohol.forEach(function (type) {%>
                            <li uk-filter-control=".tag-<%= type %>"><a href="#"><%= type %></a></li>
                            <%}) %>
                        </ul>
                    </div>
                </div>

                <ul class="js-filter uk-child-width-1-2 uk-child-width-1-3@s uk-child-width-1-4@m uk-text-center uk-margin-small-top" uk-grid="masonry: true">
                    <% supplier.products.forEach(function(item) { %>
                    <li class="tag-<%=item.typeOfAlcohol ? item.typeOfAlcohol : "none-mixer"  %> tag-<%= item.typeOfAlcohol %> tag-<%= item.typeOfItem %> tag-all">
                        <div>
                        <%- include('./_card_item_supplier_view', {item: item, supplier: supplier}) %>
                        </div>
                    </li>
                    <% });%>
                </ul>
        <% } else { %>
            <p>
                We don't have any information about your Store, go ahead and fill in the form
            </p>
        <%}%>

        </div>

        </div>
    </div>
</div>


</body>
</html>
