<!DOCTYPE html>
<html lang="en" class="uk-height-1-1">
<head>
    <META HTTP-EQUIV="refresh" CONTENT="60">

    <% include ../partials/head_content %>
    <%
        function degreesToRadians(degrees) {
            return degrees * Math.PI / 180;
        }

        function pointsDistance(lat1, lon1, lat2, lon2) {
            var earthRadiusKm = 6371;

            var dLat = degreesToRadians(lat2-lat1);
            var dLon = degreesToRadians(lon2-lon1);

            lat1 = degreesToRadians(lat1);
            lat2 = degreesToRadians(lat2);

            var a = Math.sin(dLat/2) * Math.sin(dLat/2) +
                Math.sin(dLon/2) * Math.sin(dLon/2) * Math.cos(lat1) * Math.cos(lat2);
            var c = 2 * Math.atan2(Math.sqrt(a), Math.sqrt(1-a));
            return earthRadiusKm * c;
        }
    %>
    <style type="text/css">
        .map-height {
            height: 125px;
        }
    </style>

</head>
<body>
<div class="uk-offcanvas-content">
    <% include ../partials/navbar %>
    <% include ../partials/driver_navbar.ejs %>

    <div class="uk-section uk-section-xsmall ">
    <button class="uk-button uk-button-default uk-button-small" type="button" uk-toggle="target: #offcanvas-nav-primary"><span class="uk-margin-small-right" uk-icon="menu"></span>Navigation</button>
    <div class="uk-container uk-container-center uk-margin-top uk-margin-large-bottom">
        <% if (driver.stripe_account_id) { %>
        <%} else {%>
        <div class="uk-alert-warning" uk-alert>
            <a class="uk-alert-close" uk-close></a>
            <h3>You're nearly ready</h3>
            <p>It seems like we still need some more details in order to process payments, please click the following <a href="/driver/create_stripe_account">link</a> and fill in the form</p>
        </div>

        <%}%>
        <h2 class="uk-heading-divider">Availabe Jobs
            <button class="uk-button uk-button-primary uk-button-small uk-align-right uk-margin-remove" onclick="initialize()">Load Maps</button>
        </h2>

        <div class="ui container">
            <div class="uk-child-width-1-2@s" uk-grid>
                <% sales.forEach(function(item) {%>
                <div>

                    <div id="<%= item._id %>" class="maps" data-gps-from="<%= item.supplierID.address.location.coordinates[1]%>,<%=item.supplierID.address.location.coordinates[0]%>" data-gps-to="<%= item.deliveryAddress.location.coordinates[1]%>,<%=item.deliveryAddress.location.coordinates[0]%>" ></div>

                    <div class="uk-card uk-card-small uk-card-default">
                        <div class="uk-card-body">
                            <div class="uk-card-badge uk-label">
                                <%= pointsDistance(item.deliveryAddress.location.coordinates[1], item.deliveryAddress.location.coordinates[0], item.supplierID.address.location.coordinates[1], item.supplierID.address.location.coordinates[0]).toFixed(2) %>km
                            </div>
                            <dl class="uk-description-list">
                                <dt>Pickup Location</dt>
                                <dd>
                                    <span style="font-weight: bold"><%= item.supplierID.name%></span>
                                    <%= item.supplierID.address.houseAndStreet %>,
                                    <%= item.supplierID.address.postcode %>
                                </dd>

                                <dt>Drop-off Address</dt>
                                <dd>
                                    <%= item.deliveryAddress.houseAndStreet %>,
                                    <%= item.deliveryAddress.postcode %>
                                </dd>

                            </dl>

                        </div>
                        <div class="uk-card-footer">
                            <div class="uk-grid-small uk-grid-divider uk-child-width-expand@s" uk-grid>
                                <div>
                                    <% if(item.isVerified) { %>
                                        Verified
                                    <%} else { %>
                                        Not Verified
                                    <%} %>
                                </div>
                                <div>
                                    <% if(item.hasDriver) { %>
                                        Has Driver
                                    <%} else { %>
                                        <a href="/driver/assignTask/<%=item._id%>">Select Job</a>
                                    <%} %>
                                </div>

                            </div>
                        </div>

                    </div>
                </div>
                <%});%>
            </div>

        </div>
    </div>
    </div>
</div>
<script>
    // $(function() {
    //     initialize();
    // });

    function initialize() {
        // Get all map canvas with ".maps" and store them to a variable.
        var maps = document.getElementsByClassName("maps");

        $('.maps').toggleClass('map-height');
        // var directionsDisplay;
        // var directionsService = new google.maps.DirectionsService();
        var ids, gps, gps2, mapId = '';
        var directionsDisplay = [];
        var directionsService = [];
        // Loop: Explore all elements with ".maps" and create a new Google Map object for them
        for(var i=0; i<maps.length; i++) {
            directionsDisplay[i] = new google.maps.DirectionsRenderer();
            directionsService[i] = new google.maps.DirectionsService();
            // Get ID of single div
            mapId = document.getElementById(maps[i].id);
            // Get LatLng stored in data attribute.
            // !!! Make sure there is no space in data-attribute !!!
            // !!! and the values are separated with comma !!!
            gps = mapId.getAttribute('data-gps-from');
            gps2 = mapId.getAttribute('data-gps-to');

            // Convert LatLng to an array
            gps = gps.split(",");
            gps2 = gps2.split(",");

            // Create new Google Map object for single canvas
            map = new google.maps.Map(mapId, {
                zoom: 15,
                // Use our LatLng array bellow
                center: new google.maps.LatLng(parseFloat(gps[0]), parseFloat(gps[1]))
            });
            directionsDisplay[i].setMap(map);
            calcRoute(i);
        }
        function calcRoute(i) {
            var start = new google.maps.LatLng(parseFloat(gps[0]),parseFloat(gps[1]));
            var end = new google.maps.LatLng(parseFloat(gps2[0]),parseFloat(gps2[1]));
            console.log("start: "+start+", end: "+end)
            var bounds = new google.maps.LatLngBounds();
            bounds.extend(start);
            bounds.extend(end);
            map.fitBounds(bounds);
            var request = {
                origin: start,
                destination: end,
                travelMode: google.maps.TravelMode.DRIVING
            };
            directionsService[i].route(request, function(result, status) {
                if (status === 'OK') {
                    directionsDisplay[i].setDirections(result);
                }
            });
        }
    }
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDW7lWpvYWp_CF4WUrln5IaHB4_lDKVFb4"></script>
<script type="text/javascript" src="/javascripts/gmaps.js"></script>


</body>
</html>
